# OH-MY-ZSH
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="agnoster"

plugins=(git zsh-autosuggestions zsh-completions zsh-syntax-highlighting zsh-z git docker docker-compose sudo)

source $ZSH/oh-my-zsh.sh

# DEFAULTS
export DEFAULT_USER={{ ansible_env['USER'] }}
export EDITOR='vim'

# ALIASES
if [ -f $HOME/.aliases ]; then
    . $HOME/.aliases
fi

if [ -f /usr/share/nvm/init-nvm.sh ]; then
    . /usr/share/nvm/init-nvm.sh
fi

HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000